<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/normalize.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/jquery.fancybox.css">
    <link rel="stylesheet" href="static/css/flexslider.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/queries.css">
    <link rel="stylesheet" href="static/css/etline-font.css">
    <link rel="stylesheet" href="static/bower_components/animate.css/animate.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="static/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body id="top">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <section class="hero">
        <section class="navigation">
            <header>
                <div class="header-content">
                    <div class="logo"><a href="."><img src="http://users.csc.calpoly.edu/~dekhtyar/cal_poly_logo.gif" alt="Logo"></a></div>
                    <div class="header-nav">
                        <nav>
                            <!-- <ul class="primary-nav">
                                <li><a href="#features">Features</a></li>
                                <li><a href="#assets">Assets</a></li>
                                <li><a href="#blog">Blog</a></li>
                                <li><a href="#download">Download</a></li>
                            </ul> -->
                            <ul class="member-actions">
                                    <li> <class="btn-white btn-small"> Health: {{ health }} </li>
                                   <li> <a href="/begin" class="btn-white btn-small"> Begin Adventure </a> </li>
                                   <li> <a href="/logout" class="btn-white btn-small"> Logout </a> </li>
                                <li><a href="/leaderboard" class="leaderboard" style="padding-right:20px">Leaderboard</a></li>
                                <li> <a href="/logout"> Logout </a> </li>

                                   <li> <a href="/begin" class="btn-white btn-small"> Begin Adventure </a> </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="navicon">
                        <a class="nav-toggle" href="#"><span></span></a>
                    </div>
                </div>
            </header>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="hero-content text-center">
                        <h1>Hey {{ user }}, you're currently in room {{ room }}.</h1>
                        <p class="intro">{{ text }}
                        <br>{% if item %}{{ item }}{% endif %}
                            {% if project %}{{ project }} You got a score of {{ score }}{% endif %}
                            {% if test %}Surprise Test! You're now taking the {{ test }}.<br><br>
                                <form action="/begin" method="POST">
                                <font size="3" color=#FF758C>
                                <p align="left"> 
                                1. {{ q1 }}
                                <br><input type="text" name="f1"><br>
                                2. {{ q2 }}
                                <br><input type="text" name="f2"><br>
                                3. {{ q3 }} 
                                <br><input type="text" name="f3"><br>
                                4. {{ q4 }} 
                                <br><input type="text" name="f4"><br>
                                5. {{ q5 }} 
                                <br><input type="text" name="f5"><br><br></font>
                                  <input type="submit" value="Submit">
                                </form>
                                </p>
                            {% endif %}
                            {% if a1 %}
                                You received a score of {{ score }}.<br>
                                The correct answers were:<br>
                                <p align="left">
                                1. {{ a1 }}<br>
                                2. {{ a2 }}<br>
                                3. {{ a3 }}<br>
                                4. {{ a4 }}<br>
                                5. {{ a5 }}
                                </p>
                            {% endif %}
                            </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="down-arrow floating-arrow"><a href="#"><i class="fa fa-angle-down"></i></a></div>
    </section>

    {% if not test %}
    <section class="intro section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="&#xe033;" class="icon"></span>
                    </div>
                    <div class="intro-content">
                        <h5>
                            <form action="/begin" method="post">
                                <input type="submit" value="{{ room1 }}" 
                                     name="form" id="f1" />
                            </form>
                        </h5>
                    </div>
                </div>
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="&#xe030;" class="icon"></span>
                    </div>
                    <div class="intro-content">
                        <h5>
                            <form action="/begin" method="post">
                                <input type="submit" value="{{ room2 }}" 
                                     name="form" id="f2" />
                            </form>
                        </h5>
                    </div>
                </div>

                {% if room3 %}
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="&#xe046;" class="icon"></span>
                    </div>
                    <div class="intro-content last">
                        <h5>
                            <form action="/begin" method="post">
                                <input type="submit" value="{{ room3 }}" 
                                     name="form" id="f3" />
                            </form>
                        </h5>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </section>
    {% endif %}
 
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="footer-links">
                        <ul class="footer-group">
<!--                             <li><a href="#">Features</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Sign up</a></li>
                            <li><a href="http://tympanus.net/codrops/licensing/">Licence</a></li>
                            <li><a href="http://tympanus.net/codrops/">Codrops</a></li>
                            <li><a href="http://www.peterfinlan.com/">Peter Finlan</a></li>
 -->                        </ul>
                        <p>Copyright © 2015 <a href="#">Sedna</a><br>
                        <a href="http://tympanus.net/codrops/licensing/">License</a> | Crafted with <span class="fa fa-heart pulse2"></span> by <a href="http://www.peterfinlan.com/">Peter Finlan</a>.</p>
                    </div>
                </div>
                <!--
                <div class="social-share">
                    <p>Share Sedna with your friends</p>
                    <a href="https://twitter.com/peterfinlan" class="twitter-share"><i class="fa fa-twitter"></i></a> <a href="#" class="facebook-share"><i class="fa fa-facebook"></i></a>
                </div>-->
            </div>
        </div>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="static/bower_components/retina.js/dist/retina.js"></script>
    <script src="static/jquery.fancybox.pack.js"></script>
    <script src="static/vendor/bootstrap.min.js"></script>
    <script src="static/scripts.js"></script>
    <script src="static/jquery.flexslider-min.js"></script>
    <script src="static/bower_components/classie/classie.js"></script>
    <script src="static/bower_components/jquery-waypoints/lib/jquery.waypoints.min.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X','auto');ga('send','pageview');
    </script>
</body>
</html>
